@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=IBM+Plex+Mono:wght@500&family=Lilita+One&family=Noto+Sans+TC:wght@400;500;700&family=Rubik+Puddles&family=Work+Sans:wght@400;700&display=swap');

#root {
  font-family: 'IBM Plex Mono', monospace;
  max-width: 900px;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fbfbfb;
}
